<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="layouts/navbar :: navbar"></nav>
<div class="menu">
    <h3>にほんご！</h3>
        <a href="/fcmvc/pick_review">
            <button type="button" class="btn btn-primary btn-lg btn-block">Pick review</button>
        </a>
        <a href="/fcmvc/build_review">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Build review</button>
        </a>
</div>
<img th:replace="layouts/footer :: footer">
</body>
</html>
