<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="layouts/navbar :: navbar"></nav>
<div class="menu">
    <h3>すみません！</h3>
    <p>The requested review is not found. Please, try again.</p>
    <img src="#" class="img-404" th:src="@{/images/404error.png}" alt="error 404">
</div>
<img th:replace="layouts/footer :: footer">
</body>
</html>
