<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/take_test.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="layouts/navbar :: navbar"></nav>
<div class="test-form">
    <form action="#" th:action="@{/fcmvc/check_test}" th:object="${test}" method="post">
    <table>
        <thead>
        <tr>
            <td colspan="2"><h5 th:text="${test.getName()}"></h5></td>
        </tr>
        <tr>
            <td>Question</td>
            <td class="talnright">Guess</td>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="flashcard, itemStat : *{getFlashcards()}">
            <tr th:id="${itemStat.index}" class="item">
                <td th:text="${flashcard.getQuestion()}"></td>
                <td><input class="form-control" type="text" th:field="*{flashcards[__${itemStat.index}__].userGuess}" autocomplete="off"></td>
            </tr>
        </th:block>
        <tr>
            <td colspan="2"><button type="submit" class="btn btn-success">Finish test</button></td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
<img th:replace="layouts/footer :: footer">
</body>
</html>
