body {
    margin: 0 auto;
    text-align: center;
}

.build-form {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

.build-form * {
    margin: 0 auto;
    text-align: center;
}

tbody * {
    padding-top: 5px;
}

.edit-buttons {
    padding-top: 10px;
    margin-left: 30px;
}

.sun {
    position: fixed;
    width: 50%;
    top: 90%;
    left: 25%;
}
