.table {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.edit-buttons {
    margin: 0 0 0 30px;
    text-align: center;
    padding-top: 10px;
}

.sun {
    position: fixed;
    width: 50%;
    top: 90%;
    left: 25%;
    opacity: 50%;
    z-index: -1;
}

.btn {
    border-radius: 25px;
}
