body {
    margin: 0 auto;
    text-align: center;
}

.test-result {
    padding: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

.test-result * {
    margin: 0 auto;
    text-align: center;
}

thead * {
    padding: 5px;
}

tbody * {
    padding-top: 5px;
}

.edit-buttons {
    padding-top: 10px;
}

.talnright {
    text-align: right;
}

.translation {
    background-color: #f6ffd6;
}

.correct {
    background-color: #d6ffd6;
}

.guess {
    background-color: #ffd6d6;
}

.sun {
    position: fixed;
    width: 50%;
    top: 90%;
    left: 25%;
    opacity: 50%;
    z-index: -1;
}

.to-menu {
    margin-right: 30px;
}

.to-retry {
    margin-left: 30px;
}

.btn {
    border-radius: 25px;
}
